{% extends "base.html" %}
{% block titulo %}
  Costa Rica Tours
{% endblock titulo %}
{% block contenido %}
{% load i18n %}

  <main class="d-flex row">
    {% blocktrans %}
    <h1 class="text-center">Welcome to Costa Rica Tours</h1>
    <div class="text-center my-3">
      <h1>Welcome to Your Aquatic Adventure!</h1>
    <p>
      Discover the thrill of open waters with our expertly guided boat tours and sport fishing experiences. Whether you're a seasoned angler or a first-time explorer, we offer unforgettable moments on pristine waters, surrounded by breathtaking views and abundant marine life. Let us show you the hidden gems and best fishing spots along our coastline.
    </p>
    </div>
    <div class="text-center my-3">
      <h1>Explore Boat Tours and Scenic Rides</h1>
      <p>
        Our boat tours are designed for everyone, from those looking to relax and soak up the sun to adventure-seekers eager to explore coastal landscapes. Experience the ocean’s beauty as you cruise past stunning views, spot playful dolphins, and feel the refreshing sea breeze. Sit back, relax, and let us take you on a scenic journey you won’t forget.
        </p>
    </div>
    {% endblocktrans %} 
</main>
{% endblock contenido %}